/**
 * Basic typography style for copy text
 */
flex-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-type li {
  list-style: none;
  width: 33%;
}

.check {
  display: none;
  width: 33%;
}

.dropdown {
  margin-left: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-self: baseline;
}

.container-ingredient {
  width: 600 px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-ingredient li {
  width: 33%;
}

.dropbtn-ingredient {
  background-color: #3282f7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-ingredient:hover,
.dropbtn-ingredient:focus {
  background-color: #3282f7;
}

.dropdown-ingredient {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-ingredient {
  display: none;
  position: inherit;
  background-color: #3282f7;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-ingredient input {
  width: 80%;
  height: 70px;
  background-color: #3282f7;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-ingredient input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-ingredient input:focus-visible {
  outline: none;
}
.dropdown-content-ingredient i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-ingredient li {
  padding: 12px 16px;
  display: flex;
  background: #3282f7;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-ingredient li:hover {
  background-color: #3282f7;
}

.show-ingredient {
  display: block;
}
.show-ingredient a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/*-----------------------------------------*/
.container-device {
  width: 600 px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-device li {
  width: 33%;
}

.dropbtn-device {
  background-color: #68d9a4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 69px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-device:hover,
.dropbtn-device:focus {
  background-color: #68d9a4;
}

.dropdown-device {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-device {
  display: none;
  position: inherit;
  background-color: #68d9a4;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-device input {
  width: 80%;
  height: 70px;
  background-color: #68d9a4;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-device input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-device input:focus-visible {
  outline: none;
}
.dropdown-content-device i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-device li {
  padding: 12px 16px;
  display: flex;
  background: #68d9a4;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-device li:hover {
  background-color: #68d9a4;
}

.show-device {
  display: block;
}
.show-device a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/*-------------------------------------------------------------*/
.container-utensils {
  width: 600 px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-utensils li {
  width: 33%;
}

.dropbtn-utensils {
  background-color: #ed6454;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 69px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-utensils:hover,
.dropbtn-utensils:focus {
  background-color: #ed6454;
}

.dropdown-utensils {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-utensils {
  display: none;
  position: inherit;
  background-color: #ed6454;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-utensils input {
  width: 80%;
  height: 70px;
  background-color: #ed6454;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-utensils input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-utensils input:focus-visible {
  outline: none;
}
.dropdown-content-utensils i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-utensils li {
  padding: 12px 16px;
  display: flex;
  background: #ed6454;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-utensils li:hover {
  background-color: #ed6454;
}

.show-utensils {
  display: block;
}
.show-utensils a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.container-label {
  display: flex;
  color: white;
  margin-left: 5%;
}

.labelIngredient {
  height: 40px;
  background: #3282f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelIngredient i {
  padding-left: 10px;
}

.labelDevice {
  height: 40px;
  background: #68d9a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelDevice i {
  padding-left: 10px;
}

.labelUtensil {
  height: 40px;
  background: #ed6454;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelUtensil i {
  padding-left: 10px;
}

@media (min-width: 1001px) {
  .recipe-card {
    min-width: 30%;
    max-width: 30%;
  }

  .card-deck {
    top: 25rem;
  }
}
/* mobile view */
@media (max-width: 1000px) {
  body {
    margin: auto;
    min-width: fit-content;
  }

  .dropdown {
    margin-left: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: baseline;
    flex-direction: column;
  }

  .btn-group {
    flex-direction: column;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tag-search {
    width: 100%;
  }

  .dropbtn-ingredient,
.dropbtn-device,
.dropbtn-utensils {
    width: 97%;
    height: 90px;
  }

  .dropdown-content-ingredient,
.dropdown-content-device,
.dropdown-content-utensils {
    min-width: 160px;
    max-width: 97%;
  }

  .container-tag-options.show-opts {
    font-size: 1rem;
    height: 200px;
    width: inherit;
    overflow: hidden;
  }

  .show-opts .dropdown-choices {
    flex-wrap: nowrap;
  }

  .card-deck {
    top: 45rem;
    padding-bottom: 100px;
  }

  .recipe-card {
    min-width: 90%;
    max-width: 100%;
  }

  #main {
    flex-direction: column;
  }
}
.card-img-placeholder {
  background-color: #c9bdbd;
  min-height: 200px;
  border-radius: 10px 10px 0 0;
}

.recipe-card {
  background-color: #f8f9fb;
  border-radius: 10px;
  cursor: pointer;
}

.card-content {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.card-content-title {
  font-size: 1.5rem;
}

.card-content-title {
  min-height: 4rem;
  max-height: fit-content;
}

.card-deck {
  margin: 0 !important;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
