.body {
  background: #80808054;
}

input[type=text] {
  border: none;
  border-color: transparent;
}

#search-input,
#launch-search {
  background-color: #e7e7e7;
  border: none;
}

.card-img-placeholder {
  background-color: #c9bdbd;
  min-height: 200px;
  border-radius: 10px 10px 0 0;
}

.recipe-card {
  background-color: #f8f9fb;
  border-radius: 10px;
  min-width: 30%;
  max-width: 30%;
  cursor: pointer;
}

.card-content {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.card-content-title {
  font-size: 1.5rem;
}

.btn {
  padding: 1.25rem;
  font-weight: 500;
}

.bg-green,
.bg-green input[type=text] {
  background-color: #00dca9;
  color: white;
}

.btn.bg-green:hover {
  background-color: #00a881;
}

.bg-orange,
.bg-orange input[type=text] {
  background-color: #ff5a47;
  color: white;
}

.btn.bg-orange:hover {
  background-color: #ff2c14;
}

.autocomplete-items {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 20px;
  background-color: white;
  width: 100%;
}

.autocomplete-items p:hover {
  cursor: pointer;
  background-color: #c9bdbd;
}

.autocomplete-active {
  background-color: #c9bdbd;
}

.dropdown-parent {
  position: relative;
}

.dropdown-choices {
  display: none;
}

.show-opts .dropdown-choices {
  display: flex;
  flex-wrap: wrap;
  writing-mode: vertical-lr;
  z-index: 3;
  max-width: 700px;
  max-height: 400px;
  overflow: hidden;
  padding-left: 0;
  margin: -0.5rem 0 0 0;
  padding: 0;
}

.fa-chevron-down {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.tag-btn {
  display: flex;
  justify-content: space-between;
  color: white;
}

.opened-btn-container.show {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.tag-search {
  display: none;
  width: inherit;
}

.tag-search input[type=text] {
  color: white;
}

#ingredient-tag-input-autocomplete-lists {
  background-color: #007bff;
}

.dropdown-item {
  color: white;
  cursor: pointer;
  width: 33%;
  writing-mode: horizontal-tb;
}

.selected-tag-btn {
  color: white;
  margin-right: 1rem;
}

.btn:hover {
  color: white;
}

.show {
  display: block;
}

.tag-search.show {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tag-search-input {
  font-size: 1.2rem;
}

.tag-search-input::placeholder {
  color: white;
}

.container-tag-options {
  display: none;
}

.container-tag-options.show-opts {
  max-height: 400px;
  display: block;
  border-radius: 0 0 0.25rem 0.25rem;
  margin-top: -0.125rem;
  z-index: 2;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.card-content-title {
  min-height: 4rem;
  max-height: fit-content;
}

.card-deck {
  margin: 0 !important;
  position: absolute;
  top: 25rem;
}

.ingredient-container {
  overflow: hidden;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding-right: 1em;
  margin: 0 -1em -2rem 0.5rem;
}

#noresult-msg {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-right: 4rem;
}

/* mobile view */
@media all and (max-width: 768px) {
  body {
    margin: auto;
    min-width: fit-content;
  }

  .btn-group {
    flex-direction: column;
  }

  .btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tag-search {
    width: 100%;
  }

  .container-tag-options.show-opts {
    font-size: 1rem;
    height: 200px;
    width: inherit;
    overflow: hidden;
  }

  .show-opts .dropdown-choices {
    flex-wrap: nowrap;
  }

  .card-deck {
    top: 65%;
  }

  .d-flex {
    flex-direction: column;
  }

  .recipe-card {
    min-width: 90%;
    max-width: 100%;
  }

  #main {
    flex-direction: column;
  }
}
/**
 * Basic typography style for copy text
 */
flex-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-type li {
  list-style: none;
  width: 33%;
}

.check {
  display: none;
  width: 33%;
}

.dropdown {
  margin-left: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-self: baseline;
}

.container-ingredient {
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-ingredient li {
  width: 33%;
}

.dropbtn-ingredient {
  background-color: #3282f7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-ingredient:hover,
.dropbtn-ingredient:focus {
  background-color: #3282f7;
}

.dropdown-ingredient {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-ingredient {
  display: none;
  position: inherit;
  background-color: #3282f7;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-ingredient input {
  width: 80%;
  height: 70px;
  background-color: #3282f7;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-ingredient input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-ingredient input:focus-visible {
  outline: none;
}
.dropdown-content-ingredient i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-ingredient li {
  padding: 12px 16px;
  display: flex;
  background: #3282f7;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-ingredient li:hover {
  background-color: #3282f7;
}

.show-ingredient {
  display: block;
}
.show-ingredient a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/*-----------------------------------------*/
.container-device {
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-device li {
  width: 33%;
}

.dropbtn-device {
  background-color: #68d9a4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 69px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-device:hover,
.dropbtn-device:focus {
  background-color: #68d9a4;
}

.dropdown-device {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-device {
  display: none;
  position: inherit;
  background-color: #68d9a4;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-device input {
  width: 80%;
  height: 70px;
  background-color: #68d9a4;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-device input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-device input:focus-visible {
  outline: none;
}
.dropdown-content-device i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-device li {
  padding: 12px 16px;
  display: flex;
  background: #68d9a4;
  justify-content: space-between;
  width: 138px;
  height: 37px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-device li:hover {
  background-color: #68d9a4;
}

.show-device {
  display: block;
}
.show-device a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/*-------------------------------------------------------------*/
.container-utensils {
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-utensils li {
  width: 33%;
}

.dropbtn-utensils {
  background-color: #ed6454;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 69px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.dropbtn-utensils:hover,
.dropbtn-utensils:focus {
  background-color: #ed6454;
}

.dropdown-utensils {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content-utensils {
  display: none;
  position: inherit;
  background-color: #ed6454;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: -70px;
}
.dropdown-content-utensils input {
  width: 80%;
  height: 70px;
  background-color: #ed6454;
  color: white;
  text-decoration: none;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: 5%;
}
.dropdown-content-utensils input::placeholder {
  margin-left: 20px;
  color: white;
}
.dropdown-content-utensils input:focus-visible {
  outline: none;
}
.dropdown-content-utensils i {
  width: 8%;
  text-align: center;
  color: white;
}

.dropdown-content-utensils li {
  padding: 12px 16px;
  display: flex;
  background: #ed6454;
  justify-content: space-between;
  width: 150px;
  height: 37px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-utensils li:hover {
  background-color: #ed6454;
}

.show-utensils {
  display: block;
}
.show-utensils a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.container-label {
  display: flex;
  color: white;
  margin-left: 5%;
}

.labelIngredient {
  height: 40px;
  background: #3282f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelIngredient i {
  padding-left: 10px;
}

.labelDevice {
  height: 40px;
  background: #68d9a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelDevice i {
  padding-left: 10px;
}

.labelUtensil {
  height: 40px;
  background: #ed6454;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 10px;
}
.labelUtensil i {
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
