.card-img-placeholder {
  background-color: #c9bdbd;
  min-height: 200px;
  border-radius: 10px 10px 0 0;
}

.recipe-card {
  background-color: #f8f9fb;
  border-radius: 10px;
  min-width: 30%;
  max-width: 30%;
  cursor: pointer;
}

.card-content {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.card-content-title {
  font-size: 1.5rem;
}

.card-content-title {
  min-height: 4rem;
  max-height: fit-content;
}

.card-deck {
  margin: 0 !important;
  position: absolute;
  top: 25rem;
}
