#search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  width: 90%;
  height: 70px;
  background: #e7e7e7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__icon {
    margin-right: 15px;
    font-size: x-large;
  }
  &__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #000000;

    opacity: 0.25;
    margin-left: 15px;
  }
  & input {
    border: none;
    background: none;
    width: 100%;
    text-align: left;
  }
}
.container-label {
  display: flex;
  color: black;
}
/* .labelIngredient {
  width: 100px;
  height: 40px;
  background: #3282f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.labelDevice {
  width: 100px;
  height: 40px;
  background: #68d9a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.labelUtensil {
  width: 100px;
  height: 40px;
  background: #ed6454;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
} */
.label {
  height: 40px;
  background: #ed6454;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  color: #e7e7e7;
  margin: 10px 10px 0 0;
  padding: 10px;
  & i {
    padding-left: 10px;
  }
}
